<style>
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400&display=swap');
</style>

body {
	font-size:16px;
}

section {
	padding:3em 0;
	width:100%;
}

div {
	width:100%;
}

h1 {
	font-family:'Playfair Display',serif; 
	font-weight:900;
	font-size: 6em;
	color:#056693;
	padding:.5em 0;
}

h2 {
	font-family:'Playfair Display',serif; 
	font-weight:700; 
	font-size:5em;
	color:#054348;
	padding:.5em 0;

}

h3 {
	font-family:'Playfair Display',serif; 
	font-weight:700; 
	font-size:3em;
	color:#ffffff;
	padding:.5em 0;
}

p {
	font-family:'Lato', sans-serif;
	font-size:1.5em;
	font-weight:400;
	line-height:1.7em;
}

blockquote {
	font-family:'Playfair Display',serif; 
	font-size:2.4em;
	font-weight:700;
	text-shadow: .1em .1em #056693;
	line-height: 1.7em;
	color:#ffffff;
	padding:1em;
	margin:auto;
	width:73%;
}

header, footer {
	width:100%;
	margin:0;
}

footer {
	font-family:'Playfair Display',serif; 
	letter-spacing:.1em;
	text-align:center;
	color: white;
	background-color:#054348;
}

a:link {
	color:#fff;
	text-decoration:none;
}

a:visited {
	color:#056693;
}

a:hover {
	color:#5a89a2;
}

button {
	background-color:#056693;
	padding:1.25em;
	font-family:'Lato', sans-serif; 
	font-size:1.5em; 
	font-weight:700; 
	text-transform:uppercase; 
	color:#fff;
	letter-spacing:.15em;
	border: none;
	text-align:center;
	border-radius:.15em;
	margin:1em 0;
}

aside {
	width:25%;
	text-align:center;
}

article {
	width:75%;
}

.left {
    float:left;
}

.right {
    float:right;   
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.about-images {
	margin:2em;
	width:75%;
}

.social-images {
	display: inline-block;
	text-align:center;
	width:6em;
	height:auto;
	margin:2em;
}

.container {
	position:relative;
	text-align:center;
	font-color: white;
	display:inline-block;
	padding:1em;
	margin:1em;
	vertical-align:top;
	width:25%;
}

.centered {
	position:absolute;
	left: 50%;
	transform: translate(-50%, -200%);
	text-shadow: .2em .2em #056693;
}

#hero-image {
	background-image: url(../images/hero.svg);
	background-color:#5a89a2;
	height:auto;
	width:100%;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
	margin:0;
}

#hero-text, #slogan {
	text-align:center;
	color:white;
	padding:.75em 0;
	letter-spacing:.05em;
}

#slogan {
	font-family:'Playfair Display', serif;
	font-size:2.5em;
	font-weight:400;
	font-style: italic;
	width:auto;
}

#about-me {
	width:60%;
}

#about-image {
		text-align:center;
}

#contact {
	font-size:2em;
	font-family:'Playfair Display', serif;
	font-style:italic;
}

#headernav {
	text-align:center;
	width:auto;
	padding:2em;
	background-color:#054348;
}

.navlink {
	font-family:'Lato', sans-serif;
	font-weight:700;
	font-size:2em;
	text-transform:uppercase;
	letter-spacing:.3em;
	display:inline-block;
	margin:.25em;
	padding:.5em 0;
}

#about {
	background-image: url(../images/aboutbackground.svg);
	height:100%;
	width:auto;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
	margin:0;
	padding:1em;
}

#services {
	background-image: url(../images/servicesbackground.svg);
	height:100%;
	width:auto;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
	margin:0;
	padding:1em;
	text-align:center;
}

.servicetext {
	color:#ffffff;
	text-align: center;
	width:60%;
	margin:.5em auto;
	letter-spacing:.01em;
}

#recent-work {
	background-image: url(../images/recentworkbackground.svg);
	height:100%;
	width:auto;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
	margin:0;
	padding:1em;
	text-align:center;
}

#kind-words {
	background-image: url(../images/kindwordsbackground.svg);
	height:100%;
	width:auto;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
	margin:0;
	padding:1em;
	text-align:center;
}

@media only screen and (max-width:1400px) {
	.right, .left {
		float:none;
		width:100%;
	}
	.container, #about-me, article, aside {
		text-align:center;
		width:80%;
		margin:auto;
	}
	body {
		font-size:18px;
	}
	p, button {
		font-size:1.5em;
	}
}

@media only screen and (max-width:900px) {
	.navlink {
		display:block;
		width:100%;
		margin:auto;
	}
	body {
		font-size:22px;
	}
	img {
		width:auto;
	}
	#about, #services,#recent-work #kindwords {
		padding:0;
	}
	#hero-text, #slogan {
		font-size:2.5em;
	}
	#contact, #copyright, blockquote {
		font-size:1.5em;
	}
	.servicetext {
		width:100%;
	}
	img {
		width:80%;
	}
	.centered {
		transform: translate(-50%, -200%);
	}
	p, button {
		font-size:1em;
	}
}

@media only screen and (max-width:500px) {
	h1, h2, #hero-text, #slogan {
		font-size:2em;
	}
	h3 {
		font-size:1.5em;
	}
	#contact, #copyright, blockquote {
		font-size:.5em;
	}
	.centered {
		transform: translate(-50%, -100%);
	}
	.navlink {
		font-size:1em;
		margin:0;
		padding:.5em 0;
	}
	button {
		font-size:.75em;
		padding: 1em;
		margin:.5em 0;
	}
}
